<a href="https://colab.research.google.com/github/Aman-K-Sharma/PySpark/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#intalling spark module in python, needed to be done only first time
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 34.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d58e42db0e032668a65b4531735a0d9a09a6aedae0d6cd95872a6dad4277fbc5
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
#checking for successful installation of spark module
import pyspark

In [3]:
#need to make a spark session to work with spark
from pyspark.sql import SparkSession

In [4]:
#creating a spark session
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
#reading data with spark module
#header true to refer 1st row as column name, inferSchema for actual datatype of each column
df=spark.read.csv('/content/sample_data/california_housing_train.csv',header=True,inferSchema=True)

In [7]:
#printing dataset,by default will show 20 rows
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [8]:
#checking the type of data
type(df)

pyspark.sql.dataframe.DataFrame

In [9]:
#checking  data info
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [10]:
#all columns present in data
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [11]:
#selecting top n rows in data
df.head(5)

[Row(longitude=-114.31, latitude=34.19, housing_median_age=15.0, total_rooms=5612.0, total_bedrooms=1283.0, population=1015.0, households=472.0, median_income=1.4936, median_house_value=66900.0),
 Row(longitude=-114.47, latitude=34.4, housing_median_age=19.0, total_rooms=7650.0, total_bedrooms=1901.0, population=1129.0, households=463.0, median_income=1.82, median_house_value=80100.0),
 Row(longitude=-114.56, latitude=33.69, housing_median_age=17.0, total_rooms=720.0, total_bedrooms=174.0, population=333.0, households=117.0, median_income=1.6509, median_house_value=85700.0),
 Row(longitude=-114.57, latitude=33.64, housing_median_age=14.0, total_rooms=1501.0, total_bedrooms=337.0, population=515.0, households=226.0, median_income=3.1917, median_house_value=73400.0),
 Row(longitude=-114.57, latitude=33.57, housing_median_age=20.0, total_rooms=1454.0, total_bedrooms=326.0, population=624.0, households=262.0, median_income=1.925, median_house_value=65500.0)]

In [12]:
#selecting bottom n rows in data
df.tail(5)

[Row(longitude=-124.26, latitude=40.58, housing_median_age=52.0, total_rooms=2217.0, total_bedrooms=394.0, population=907.0, households=369.0, median_income=2.3571, median_house_value=111400.0),
 Row(longitude=-124.27, latitude=40.69, housing_median_age=36.0, total_rooms=2349.0, total_bedrooms=528.0, population=1194.0, households=465.0, median_income=2.5179, median_house_value=79000.0),
 Row(longitude=-124.3, latitude=41.84, housing_median_age=17.0, total_rooms=2677.0, total_bedrooms=531.0, population=1244.0, households=456.0, median_income=3.0313, median_house_value=103600.0),
 Row(longitude=-124.3, latitude=41.8, housing_median_age=19.0, total_rooms=2672.0, total_bedrooms=552.0, population=1298.0, households=478.0, median_income=1.9797, median_house_value=85800.0),
 Row(longitude=-124.35, latitude=40.54, housing_median_age=52.0, total_rooms=1820.0, total_bedrooms=300.0, population=806.0, households=270.0, median_income=3.0147, median_house_value=94600.0)]

In [13]:
# selecting a specific columns from data
df.select('housing_median_age').show()

+------------------+
|housing_median_age|
+------------------+
|              15.0|
|              19.0|
|              17.0|
|              14.0|
|              20.0|
|              29.0|
|              25.0|
|              41.0|
|              34.0|
|              46.0|
|              16.0|
|              21.0|
|              48.0|
|              31.0|
|              15.0|
|              17.0|
|              28.0|
|              21.0|
|              17.0|
|              17.0|
+------------------+
only showing top 20 rows

In [14]:
#selecting multiple columns, pass columns names in list
df.select(['housing_median_age','median_house_value']).show()

+------------------+------------------+
|housing_median_age|median_house_value|
+------------------+------------------+
|              15.0|           66900.0|
|              19.0|           80100.0|
|              17.0|           85700.0|
|              14.0|           73400.0|
|              20.0|           65500.0|
|              29.0|           74000.0|
|              25.0|           82400.0|
|              41.0|           48500.0|
|              34.0|           58400.0|
|              46.0|           48100.0|
|              16.0|           86500.0|
|              21.0|           62000.0|
|              48.0|           48600.0|
|              31.0|           70400.0|
|              15.0|           45000.0|
|              17.0|           69100.0|
|              28.0|           94900.0|
|              21.0|           25000.0|
|              17.0|           44000.0|
|              17.0|           27500.0|
+------------------+------------------+
only showing top 20 rows

In [15]:
#checking data type of each columns
df.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [16]:
#descriptive summary
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [17]:
#adding column in data
df=df.withColumn('years of income',df['median_house_value']/df['median_income'])
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|   years of income|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0| 44791.10873058382|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0| 44010.98901098901|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0| 51911.07880550003|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|22997.148854842246|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0| 34025.97402597403|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0| 22130.51019797835|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|30783.024506873877|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|28390.797869226717|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|26811.128454687358|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|21955.450063903598|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0| 32279.73280591111|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|38153.846153846156|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|22530.248945343286|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0| 21917.80821917808|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|   52417.006406523|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|40668.589253134014|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|32003.507233669443|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|29168.125072920313|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0| 36517.55332392729|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0| 21728.82427307206|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [18]:
#dropping the columns
df=df.drop('years of income')
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [19]:
#renaming a columns
df=df.withColumnRenamed('housing_median_age','median_house_age')
df.show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|            15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|            19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|            17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|            14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|            20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|            29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|            25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|            41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|            34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|            46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|            16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|            21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|            48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|            31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|            15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|            17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|            28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|            21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|            17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|            17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [20]:
#chekcing null values with respect to particular columns
df.filter("median_income IS NULL").show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+

In [21]:
##chekcing null values with multiple columns
df.filter("median_income IS NULL AND households IS NULL").show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+

In [22]:
#dropping nan values
# df.na.drop(how='any'for dropping the row if any single value is null/'all' if all null values in row,
#            thresh=int value for minimum non null values,
#            subset=['column name' for reference])

In [23]:
#filling misiing value
#df.na.fill('Value to be filles',subset=['columns to be filled'])

In [24]:
#missing value imputation
# from pyspark.ml.feature import Imputer
# imputer=Imputer(inputCols=['column names'],
#                 outputCols=['{}_imputed'.format(c) for c in ['column names']]).setStrategy('mean') #mean imputation

In [25]:
#fit_transform data
# imputer.fit(df).transform(df)

In [29]:
#filtering operations
df.filter('median_house_value>=50000').show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|            15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|            19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|            17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|            14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|            20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|            29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|            25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|            34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   33.62|            16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|            21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.83|            31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.65|   34.89|            17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|            28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.73|   33.43|            24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -114.94|   34.55|            20.0|      350.0|          95.0|     119.0|      58.0|        1.625|           50000.0|
|  -114.98|   33.82|            15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|  -115.22|   33.54|            18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.32|   32.82|            34.0|      591.0|         139.0|     327.0|      89.0|       3.6528|          100000.0|
|  -115.37|   32.82|            30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.82|            14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [30]:
#selecting specific columns based on filter condition
df.filter('median_house_value>=50000').select(['median_income','median_house_age']).show()

+-------------+----------------+
|median_income|median_house_age|
+-------------+----------------+
|       1.4936|            15.0|
|         1.82|            19.0|
|       1.6509|            17.0|
|       3.1917|            14.0|
|        1.925|            20.0|
|       3.3438|            29.0|
|       2.6768|            25.0|
|       2.1782|            34.0|
|       2.6797|            16.0|
|        1.625|            21.0|
|        3.212|            31.0|
|       1.6991|            17.0|
|       2.9653|            28.0|
|       0.8964|            24.0|
|        1.625|            20.0|
|       3.2097|            15.0|
|        1.625|            18.0|
|       3.6528|            34.0|
|       3.5735|            30.0|
|       1.9375|            14.0|
+-------------+----------------+
only showing top 20 rows

In [31]:
#filtering with multiple conditions
df.filter('median_house_value>=50000 AND median_house_value<=75000').show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|            15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.57|   33.64|            14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|            20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|            29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.59|   33.61|            34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|    33.6|            21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.83|            31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.65|   34.89|            17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.73|   33.43|            24.0|      796.0|         243.0|     227.0|     139.0|       0.8964|           59200.0|
|  -114.94|   34.55|            20.0|      350.0|          95.0|     119.0|      58.0|        1.625|           50000.0|
|  -114.98|   33.82|            15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|  -115.22|   33.54|            18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.37|   32.82|            30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.81|            32.0|      741.0|         191.0|     623.0|     169.0|       1.7604|           68600.0|
|  -115.37|   32.81|            23.0|     1458.0|         294.0|     866.0|     275.0|       2.3594|           74300.0|
|  -115.38|   32.82|            38.0|     1892.0|         394.0|    1175.0|     374.0|       1.9939|           65800.0|
|  -115.38|   32.81|            35.0|     1263.0|         262.0|     950.0|     241.0|       1.8958|           67500.0|
|  -115.49|   32.69|            17.0|     1960.0|         389.0|    1691.0|     356.0|        1.899|           64000.0|
|  -115.49|   32.67|            25.0|     2322.0|         573.0|    2185.0|     602.0|        1.375|           70100.0|
|  -115.51|   32.99|            20.0|     1402.0|         287.0|    1104.0|     317.0|       1.9088|           63700.0|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [34]:
#inverse filternig (~ is NOT)
df.filter(~(df['median_house_value']>=50000)).show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.59|   34.83|            41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|   -114.6|   34.83|            46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|  -114.61|   34.84|            48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.63|   32.76|            15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   32.79|            21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|            17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|            17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
|  -114.68|   33.49|            20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|
|  -115.46|   33.19|            33.0|     1234.0|         373.0|     777.0|     298.0|          1.0|           40000.0|
|  -115.51|   33.24|            32.0|     1995.0|         523.0|    1069.0|     410.0|       1.6552|           43300.0|
|  -115.51|   33.12|            21.0|     1024.0|         218.0|     890.0|     232.0|        2.101|           46700.0|
|  -115.52|   34.22|            30.0|      540.0|         136.0|     122.0|      63.0|       1.3333|           42500.0|
|  -115.53|   34.91|            12.0|      807.0|         199.0|     246.0|     102.0|       2.5391|           40000.0|
|  -115.73|   33.35|            23.0|     1586.0|         448.0|     338.0|     182.0|       1.2132|           30000.0|
|   -115.8|   33.26|             2.0|       96.0|          18.0|      30.0|      16.0|       5.3374|           47500.0|
|  -115.85|    34.2|            34.0|     3868.0|        1257.0|     890.0|     423.0|       1.3571|           41000.0|
|  -115.88|   32.93|            15.0|      208.0|          49.0|      51.0|      20.0|       4.0208|           32500.0|
|   -116.0|   32.74|            26.0|     1134.0|         280.0|     329.0|     158.0|       1.4338|           43900.0|
|  -116.14|   34.22|            32.0|     3298.0|        1228.0|     763.0|     360.0|        1.875|           47800.0|
|  -116.17|   33.66|            22.0|      639.0|         203.0|     664.0|     153.0|       1.9306|           47500.0|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [39]:
#groupby operations for aggregtions
df.groupBy('median_house_age').mean('median_house_value').show()

+----------------+-----------------------+
|median_house_age|avg(median_house_value)|
+----------------+-----------------------+
|             8.0|     190805.07303370786|
|             7.0|       188445.059602649|
|            49.0|      220667.6126126126|
|            29.0|     195185.86363636365|
|            47.0|     190064.61142857143|
|            42.0|      199635.1103896104|
|            44.0|     214909.50675675675|
|            35.0|     205624.46242774566|
|            18.0|     192074.71548117156|
|            39.0|     206718.91390728476|
|             1.0|               190250.0|
|            34.0|     213061.61552028218|
|            37.0|     209008.29977116705|
|            25.0|      223097.2234273319|
|            36.0|     208262.42237762237|
|            41.0|      197328.9353448276|
|             4.0|      230054.1055900621|
|            23.0|      204621.7879581152|
|            50.0|     222513.48214285713|
|            45.0|     223464.74468085106|
+----------------+-----------------------+
only showing top 20 rows

In [41]:
#Aggregate function without groupby
df.agg({'median_house_age':'mean','median_house_value':'mean'}).show()

+-----------------------+---------------------+
|avg(median_house_value)|avg(median_house_age)|
+-----------------------+---------------------+
|     207300.91235294117|    28.58935294117647|
+-----------------------+---------------------+

In [43]:
df.drop('median_house_value').columns

['longitude',
 'latitude',
 'median_house_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

# **Creating ML Model**

In [45]:
#creating vector of Independent Features
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=df.drop('median_house_value').columns,outputCol='IndependentFeature')

In [46]:
output=featureassembler.transform(df)
output.show()

+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|median_house_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|  IndependentFeature|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|            15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|[-114.31,34.19,15...|
|  -114.47|    34.4|            19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|[-114.47,34.4,19....|
|  -114.56|   33.69|            17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|[-114.56,33.69,17...|
|  -114.57|   33.64|            14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|[-114.57,33.64,14...|
|  -114.57|   33.57|            20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|[-114.57,33.57,20...|
|  -114.58|   33.63|            29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|[-114.58,33.63,29...|
|  -114.58|   33.61|            25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|[-114.58,33.61,25...|
|  -114.59|   34.83|            41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|[-114.59,34.83,41...|
|  -114.59|   33.61|            34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|[-114.59,33.61,34...|
|   -114.6|   34.83|            46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|[-114.6,34.83,46....|
|   -114.6|   33.62|            16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|[-114.6,33.62,16....|
|   -114.6|    33.6|            21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|[-114.6,33.6,21.0...|
|  -114.61|   34.84|            48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|[-114.61,34.84,48...|
|  -114.61|   34.83|            31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|[-114.61,34.83,31...|
|  -114.63|   32.76|            15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|[-114.63,32.76,15...|
|  -114.65|   34.89|            17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|[-114.65,34.89,17...|
|  -114.65|    33.6|            28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|[-114.65,33.6,28....|
|  -114.65|   32.79|            21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|[-114.65,32.79,21...|
|  -114.66|   32.74|            17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|[-114.66,32.74,17...|
|  -114.67|   33.92|            17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|[-114.67,33.92,17...|
+---------+--------+----------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 20 rows

In [47]:
output.columns

['longitude',
 'latitude',
 'median_house_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'IndependentFeature']

In [48]:
#preparing data for ML model with vectorised independent feature and target feature
final_data=output.select(['IndependentFeature','median_house_value'])
final_data.show()

+--------------------+------------------+
|  IndependentFeature|median_house_value|
+--------------------+------------------+
|[-114.31,34.19,15...|           66900.0|
|[-114.47,34.4,19....|           80100.0|
|[-114.56,33.69,17...|           85700.0|
|[-114.57,33.64,14...|           73400.0|
|[-114.57,33.57,20...|           65500.0|
|[-114.58,33.63,29...|           74000.0|
|[-114.58,33.61,25...|           82400.0|
|[-114.59,34.83,41...|           48500.0|
|[-114.59,33.61,34...|           58400.0|
|[-114.6,34.83,46....|           48100.0|
|[-114.6,33.62,16....|           86500.0|
|[-114.6,33.6,21.0...|           62000.0|
|[-114.61,34.84,48...|           48600.0|
|[-114.61,34.83,31...|           70400.0|
|[-114.63,32.76,15...|           45000.0|
|[-114.65,34.89,17...|           69100.0|
|[-114.65,33.6,28....|           94900.0|
|[-114.65,32.79,21...|           25000.0|
|[-114.66,32.74,17...|           44000.0|
|[-114.67,33.92,17...|           27500.0|
+--------------------+------------------+
only showing top 20 rows

In [49]:
#importing model and splitting final data
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_data.randomSplit([0.75,0.25])

In [50]:
#training ML model
lg=LinearRegression(featuresCol='IndependentFeature',labelCol='median_house_value')
model=lg.fit(train_data)

In [51]:
#checking feature coefficients
model.coefficients

DenseVector([-43444.7778, -43184.1643, 1122.1953, -8.3036, 109.6006, -37.6536, 51.4003, 40341.7961])

In [52]:
#checking model intercept
model.intercept

-3646044.6287322207

In [53]:
#making predictions comparing actual vs predicted values
pred=model.evaluate(test_data)
pred.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+------------------+------------------+
|  IndependentFeature|median_house_value|        prediction|
+--------------------+------------------+------------------+
|[-124.3,41.84,17....|          103600.0|  101247.982725773|
|[-124.27,40.69,36...|           79000.0|154956.71310214698|
|[-124.22,41.73,28...|           78300.0| 76375.95444387058|
|[-124.19,40.73,21...|           90100.0| 165657.9826506097|
|[-124.19,40.78,37...|           70000.0|116269.02683064109|
|[-124.18,40.78,33...|           72200.0|128978.29266106244|
|[-124.18,40.79,39...|           70500.0| 109015.7226417712|
|[-124.17,40.62,32...|           86400.0|155361.55271163257|
|[-124.16,40.78,50...|           85400.0|157478.92471799022|
|[-124.16,41.74,15...|           69500.0| 59822.44033264229|
|[-124.15,40.79,37...|           86400.0|158116.44137172634|
|[-124.15,40.81,50...|           67500.0|112691.56034337543|
|[-124.15,41.81,17...|          103100.0|-8398.164368740283|
|[-124.14,40.67,23...|          130600.0|187914.69191474654|
|[-124.14,41.06,32...|          143400.0|  141242.641637309|
|[-124.13,40.8,31....|           81100.0|117258.55464182375|
|[-124.1,40.47,52....|           55000.0|191951.45148344152|
|[-124.1,40.73,33....|          111800.0|186019.37673031213|
|[-124.08,40.06,17...|          135600.0|151491.65950358938|
|[-124.08,40.86,18...|          150000.0| 83139.13776773121|
+--------------------+------------------+------------------+
only showing top 20 rows

In [54]:
#Model evaluation with MAE and MSE
pred.meanAbsoluteError,pred.meanSquaredError

(51624.2805408719, 4946353942.8435135)